
body {
  background: #f2f2f2;
  padding: 20px;
  background-image: url("../img/SpaMascota.png");
  background-size: cover;
  background-attachment: fixed;
}

section {
  max-width: 600px;
  margin: auto;
  background: rgb(251, 255, 203);
  padding: 20px;
  border-radius: 30px;
}

#logoContainer {
  text-align: center;
  margin-bottom: 20px;
}

#logoSpa {
    background-color: rgb(30, 210, 201);
  width: 150px;
  border-radius: 10px;
}

.oculto { display: none; }
.visible { display: block; }

nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 8px 12px;
  border: none;
  background: rgb(255, 175, 125);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: rgb(158, 255, 136);
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

#listaServicios div {
  background: #ffffff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#listaServicios button {
  margin-top: 6px;
}
